:root {
    --primary: darkblue;
    --secondary: #1e3a38;
    --tertiary: #d9dcd6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* default body bg color */
body {
    background-color: var(--tertiary);
    color: var(--primary);
}

/* header - background and font */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--secondary);
    color: var(--primary);
}

header h1 {
    display: inline-block;
    font-size: 32px;
}

/* nav links - padding/margin, font, list */
header nav {
    padding: 20px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}

header nav ul,
footer section ul {
    list-style-type: none;
}

header nav ul li,
footer section ul li {
    display: inline-block;
    margin-left: 25px;
}

/* main page content */
main {
    display: inline-block;
    padding: 0px 40px;
}

/* sections under main */
main>section {
    display: flex;
    padding: 50px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

main>section>h2 {
    text-align: right;
    flex: 0 0 100px;
    border-right: 3px solid var(--primary);
    margin-right: 10px;
    padding: 10px;
    font-size: 40px;
}

main>section>img {
    height: 250px;
    padding: 10px;
}

main>section>p {
    padding: 10px;
}

/* work cards */
.workflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%
}

.workflex .card {
    display: inline-block;
    border: 5px solid rgb(132, 192, 172);
    height: 200px;
    margin: 10px;
    background: center / cover no-repeat url(../images/1up.png);
}

.workflex .card:first-child {
    width: 100%;
}

.workflex .card:not(:first-child) {
    flex: 1;
}